<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vincent's Linebot Information Setting</title>
</head>
<body>
    <h1>填写表单</h1>
    <form action="/submit" method="post">

        <label for="user_id">User ID</label>
        <input type="text" id="user_id" name="user_id" required><br><br>

        <label for="username">名字：</label>
        <input type="name" id="username" name="username" required><br><br>

        <label for="email">電子郵件：</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="NID_Account">NID Account</label>
        <input type="text" id="NID_Account" name="NID_Account" required><br><br>

        <label for="NID_Password">NID Password</label>
        <input type="password" id="NID_Password" name="NID_Password" required><br><br>

        <label for="Codeforces_Handle">Codeforces Handle</label>
        <input type="text" id="password" name="Codeforces_Handle" required><br><br>

        <label for="Codeforces_Password">Codeforces Password</label>
        <input type="password" id="password" name="Codeforces_Password" required><br><br>

        <input type="submit" value="提交">
    </form>
</body>
</html>